.frosh-tools {
    .sw-tabs {
        width: calc(100% - 175px);
        margin: 0 auto;
    }

    .sw-card.sw-card--large {
        max-width: calc(100% - 100px);
    }

    .sw-card-view__content {
        padding-top: 0;
        width: calc(100% - 100px);
        margin: 0 auto;
    }

    .sw-card-view {
        position: initial;
        height: initial;
        width: initial;
    }
}

.frosh-tools-tab-separator {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #d1d9e0;
    margin: 0 4px;
    align-self: center;
    flex-shrink: 0;
}

.sw-version__status.has-permission {
    cursor: pointer;
}
